.sectionStart {
  margin-top: 50px;
}
.titleClore {
  color: #6d28d9;
}

.textclor {
  color: #363c4c;
  font-size: 16px;
  line-height: 23px;
  text-align: justify;
}
.subtitle {
  font-size: 25px;
  color: #0f1629;
  text-transform: capitalize;
  font-weight: bolder;
}
.hadingTitle {
  font-size: 30px;
  color: #0f1629;
  line-height: 30px;
}
.sectionbg {
  background: #ffffff;
}
.useshadow {
  box-shadow: 0 2px 20px 1px rgb(0 0 0 / 49%);
  padding: 20px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
.icons {
  display: flex;
  justify-content: center;
}
.titleicon {
  height: 100px;
}

.section-title h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 5px;
  position: relative;
  text-transform: capitalize;
}
.section-title h1::after {
  content: "";
  margin: auto;
  position: absolute;
  right: 0;
  border-radius: 10px;
  bottom: -8px;
  height: 4px;
  left: 0;
  width: 150px;
  background-color: red;
}

.section-title h1::before {
  content: "";
  margin: auto;
  position: absolute;
  right: 50%;
  animation: headinganim 4s linear infinite;
  border-radius: 50%;
  bottom: -13px;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  height: 15px;
  left: 50%;
  width: 15px;
  background-color: red;
}

.service-icon {
  height: 140px;
}
